body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../img/backgroud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

body > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40vh;
}

div h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 5vh;
}

div form:nth-child(2) {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 10vh 5vh;
    border-radius: 2vh;
    backdrop-filter: blur(1vh);
    border: 0.1vh solid white;
}

div form:nth-child(2) i {
    font-size: 2.5vh;
    color: white;
}

div form:nth-child(2) div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 2vh;
    border: 0.1vh solid white;
    padding: 0.5vh;
    margin: 1vh;
}

div form:nth-child(2) div:nth-child(2) {
    margin-bottom: 5vh;
}

div form:nth-child(2) input, div form button {
    width: 30vh;
    font-size: 1.5vh;
    margin: 0.5vh;
    text-align: center;
}

div form button {
    padding: 1.5vh;
    border-radius: 2vh;
    border: 0.1vh solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2vh;
}

div form:nth-child(2) input:focus,
div form:nth-child(2) input:focus-visible,
div form:nth-child(2) input {
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: bold;
    letter-spacing: 0.2vh;
    color: white;
}

div form:nth-child(2) input::placeholder {
    color: white;
    opacity: 75%;
}

div form button:hover {
    background-color: #ffffff33;
}

div form button:active {
    background-color: #ffffff80;
}

div form:nth-child(3) {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}