* {
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../img/backgroud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div.list {
    display: grid;
    justify-items: center;
    margin: 2vh 0;
}

div.list h1 {
    font-size: 4vh;
    padding: 1vh;
    color: #F0ECE5;
}

div.list ul {
    display: flex;
    justify-items: center;
    list-style: none;
    padding: 3vh 1.5vh;
    background-color: #31304D;
    border-radius: 3vh;
}

div.list ul li {
    display: flex;
    text-align: center;
    padding: 0 2vh;
}

div.list ul form {
    display: flex;
    gap: 1vh;
    border-radius: 2vh;
    border: 0.1vh solid white;
}

div.list ul form input[type="text"]:focus,
div.list ul form input[type="text"]:focus-visible,
div.list ul form input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: bold;
    letter-spacing: 0.2vh;
    color: white;
    font-size: 1.5vh;
    text-align: center;
}

div.list ul form input[type="text"]::placeholder {
    color: white;
    opacity: 75%;
}

div.list ul form input[type="submit"] {
    padding: 0vh 1vh;
    border-radius: 2vh;
    border: none;
    background-color: transparent;
    color: #B6BBC4;
    font-weight: bold;
    letter-spacing: 0.2vh;
    font-size: 1.5vh;
    text-align: center;
}

div.list ul form input[type="submit"]:hover {
    color: #F0ECE5;
}

div.list ul a {
    text-decoration: none;
    color: #B6BBC4;
    font-size: 2vh;
    font-weight: bold;
}

div.list ul a:hover {
    color: #F0ECE5;
}

div.videos {
    display: grid;
    justify-items: center;
    margin: 10vh 0;
    overflow: hidden;
}

div.videos h2 {
    font-size: 3vh;
    color: #F0ECE5;
    text-align: center;
}

div.videos div.video {
    display: grid;
    justify-items: center;
    margin: 4vh 0vh;
    border: 1vh solid #31304D;
    background-color: #31304D;
    border-radius: 2vh;
    width: 40vh;
    box-shadow: 0 0 3vh 1vh rgba(0,0,0,0.5);
}

div.videos div.video:hover {
    border: 1vh solid #161A30;
    background-color: #161A30;
}

div.videos div.video iframe {
    width: 40vh;
    height: 24vh;
    border: none;
    border-radius: 2vh;
}

div.videos div.video p {
    font-size: 1.75vh;
    color: #F0ECE5;
    padding: 1vh;
    text-align: center;
    font-weight: bold;
}

@media screen and (orientation: landscape) {
    div.videos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.videos h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    div.videos div.video {
        width: 50vh;
    }

    div.videos div.video iframe {
        width: 50vh;
        height: 28vh;
    }
}