h1 {
    color: red;
}

td {
    padding: 2em;
}

body {
    background-color: grey;
}

a {
    text-align: right;
}

@font-face {
    font-family: 'HedvigLettersSerif';
    src: url('../font/HedvigLettersSerif.ttf');
}